* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

#wrapper {
    width: 970px;
    background: #12355B;
    padding: 20px;
    margin: 0px auto;
}

div {
    border-radius: 10px;
}

#header {

    background: red;
    padding: 20px 1px;
    margin-bottom: 15px;
}

#navigation {
    background: #087E8B;
    width: 200px;
    height: 200px;
    padding-left: 18px;
    padding-top: 22px;
    padding-bottom: 15px;
    display: inline-block;
    vertical-align: top;
}
#navigation .nested_list {
  margin-left: 20px;

}

#main_content {
    margin-left: 13px;
    background: black;
    display: inline-block;
    width: 700px;
    padding: 20px 15px 0px 20px;
}
#main_content h2 {
  font-size: 20px;
  font-weight: bolder;
}
#main_content #description {
  margin-top: 10px;
  margin-bottom: 10px
}
#main_content li {
  margin-bottom: 10px;
}

#footer {
    margin-top: 10px;
    background: gray;
    padding: 15px 1px 15px 21px;
}

h1, h2, p, ul {
    color: white;
}

h1 {
    margin-left: 10px;
    font-size: 30px;
    font-weight: bolder;
}
ul{
  margin-left: 15px;
}

a {
    color: deepskyblue;
}

span {
    color: #5A8BF1;
}
